<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bazar List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .content{
            padding-top: 10%;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-6 content col-md-offset-4">
                <h3 class="text-center">Bazar List</h3>
                <form @submit.prevent="addItem">
                    <input class="form-control" v-model="newItem">

                </form>
                <hr>
                <ul class="list-group">
                    <li v-for="(item, index) in items" :key="index" class="list-group-item">
                        <button class="btn btn-sm btn-danger" @click="removeItem(index)">
                            Remove
                        </button>
                        {{item.name}} - <input v-model="item.price">
                    </li>
                    <li class="list-group-item">Total - {{total}}</li>
                </ul>
            </div>
        </div>
    </div>
    
    <script>
        new Vue({
            el: '#app',
            data:{
                items: [
                    {name: 'rice', price: 1200},
                    {name: 'wheat', price: 60.6},
                    {name: 'oil', price: 400},
                ],
                newItem:''
            },
            computed:{
                total() {
                    var total = 0;
                    this.items.forEach(item => {total += parseFloat(item.price)})
                    return total
                }
            },
            methods: {
                addItem() {
                    this.items.push({
                        name: this.newItem,
                        price: 0.0
                    })
                },
                removeItem(index) {
                    this.items.splice(index,1)
                }
            }
        })
    </script>
</body>
</html>